services:
  web:
    build: .
    container_name: app
    working_dir: /
    ports:
      - "8000:8000"
      - "5678:5678"  # Debugger port
    env_file:
      - .env
    depends_on:
      - db
    hostname: fastapi_app
  
  test:
    build: .
    container_name: test
    #command: pytest ./tests
    command: tail -f /dev/null 
    volumes:
      - ./tests:/tests
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: "redis:alpine"
    container_name: redis
    ports:
      - "6379:6379"
      
volumes:
  postgres_data:
